/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(255, 251, 251);
  overflow: auto;
  color: #000;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgba(20, 16, 16, 0.507);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgba(184, 22, 22, 0.568);
}

/* Current/active navbar link */
.active {
  background-color:  rgba(184, 22, 22, 0.568);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}