<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/Inscription"><i class="fa fa-fw fa-user"></i> S'inscrire</a>
  <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
 
</div>

<body style="background-color: #565656;">

<section class="vh-100" style="background-image: url('./assets/images/logs.webp');">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;background: rgba(151, 137, 109, 0.73);">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
             
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0" style="color: white;">E-Kaly</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;color: white;font-weight: bold;">Connexion</h5>

                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="email" name="email"/>
                    <label class="form-label" for="form2Example17" style="color: white;">Adresse email ou Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="mdp" name="mdp" />
                    <label class="form-label" for="form2Example27" style="color: white;">Password</label>
                  </div>
                  <div class="form-check d-flex justify-content-center mb-4">
                    <h3 style="color:red;"> {{message}} </h3>
                    </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="button" (click)="login()">Se connecter</button>
                  </div>

                 
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/Inscription" style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--Footer-->

<!--Footer-->

</section>

</body>


