<div class="dummy_page">
    @Copyright 2022 RANAIVOSON Fenohasina Antonio
  </div>
  <!-- FOOTER START -->
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Ekaly</h1>
      <ul>
        <li>Livraison</li>
        <li>Restaurant</li>
      
      </ul>
    </div>
    <div class="col">
      <h1>Restaurant</h1>
      <ul>
        <li>Plats</li>
        <li>Commandes</li>
      </ul>
    </div>
    <div class="col">
      <h1>Accounts</h1>
      <ul>
       
      
      </ul>
    </div>
    <div class="col">
      <h1>Resources</h1>
      <ul>
      
      </ul>
    </div>
    <div class="col">
      <h1>ETU 934</h1>
      <ul>
        <li>ETU 934</li>
        <li>tonioranaivo10@gmail.com</li>
       
      </ul>
    </div>
   
  <div class="clearfix"></div>
  </div>
  </div>
  <!-- END OF FOOTER -->